/* .App{
  margin: 3rem auto;
  text-align: center;
  border: 1px solid black;
  flex-direction: column;
  height: 35rem;
  width: 80%;
} */

.editor-outer{
  display: flex;
  /* align-items: center; */
  flex-direction: column;
  width: 80%;
  height: 80%;
  border: 3px solid #000;
  border-radius: 3px;
}
.App{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 100vw; 
  height: 100vh;  
  border: 1px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  button{
    border-left:2px solid black ;
    border-top:2px solid black ;
    border-right:3.5px solid black ;
    border-bottom:3.5px solid black ;
    background-color: transparent;
    margin: 10px 10px;
    padding: 0px 1.5rem;
    cursor: pointer;
  }
}
.editor{
  /* background-color: red; */
  margin-top: 3rem;
  /* border: 1px solid black; */
}


.DraftEditor-root {
  .public-DraftEditor-content {
      .public-DraftStyleDefault-block {
          margin: 16px; /* Adjust as needed */
      }
  }
}